{% extends "layout.html" %} {% block head %}
<style>
  .article-author {
    font-size: 0.8em;
    color: #999;
  }
  .article-text img {
    max-height: 600px;
    display: block;
    border: 10px solid #eee;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .article-questions {
    font-size: 0.8em;
    padding-left: 2em;
    border-left: 10px solid #eee;
  }
</style>
{% endblock %} {% block content %}
<div class="container mb-4">
  <h2 class="article-title mt-4 mb-2">{{ article.title }}</h2>
  <p class="article-author mb-4">{{ article.authorship }}</p>
  {% if article.questions %}
  <div class="article-questions mt-4 mb-4">
    {{ article.questions|linebreaksbr }}
  </div>
  {% endif %}
  <!-- <div class="article-annotation">{{ article.annotation }}</div> -->
  {% if article.video %}
  <div class="article-video mb-4">
    <iframe
      src="{{ article.video_full_path }}"
      width="560"
      height="315"
      frameborder="0"
      allowfullscreen="allowfullscreen"
    ></iframe>
  </div>
  {% endif %}
  <div class="article-text">{{ article.text|safe }}</div>
  {% with article.files.all as files %} {% if files.count > 0 %}
  <div class="article-files mt-4">
    <h5>Материалы для загрузки:</h5>
    <ul>
      {% for file in files %}
      <li>
        <a href="{{ file.file.url }}">{{ file.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% endwith %}
</div>
{% endblock %}
