{% extends "layout.html" %}  
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-6 mb-md-4">
    <img src="{% static 'img/kids.png' %}" alt="" class="img-fluid" />
  </div>
  <div class="col-md-6 mt-md-4 mb-4">
    <h3 class="mt-4 mb-2">Добро пожаловать!</h3>
    <p>Ресурсный центр — это интернет-портал для взаимодействия родителей (законных представителей)
      детей с ОВЗ и специалистов — логопедов, дефектологов, психологов, педагогов в области дошкольного и школьного образования.
    </p> 
    <p>На сайте постоянно будут публиковаться статьи, посвященные образованию и развитию детей, полезные видеоматериалы.</p>
    <p>Вы также можете задать вопрос при помощи формы обратной связи.</p>
  </div>
</div>

<!-- Sections -->
<div class="index-sections mb-4 row">
  <div class="col-md-4">
    <h4>Разделы ресурсного центра</h4>
  </div>
  <div class="col-md">
    {% for section in sections %}{% if section.articles_count > 0 %}
    <div class="section mb-2">
      <div class="section_name">
        <a href="{% url 'article_list' section.id %}">{{ section.name }}</a>
        <small class="text-muted">({{ section.articles_count }})</small>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
  </div>
  <div class="col-md">{% endif %} {% endif %} {% endfor %}</div>
</div>

<!-- Random articles -->
<h4 class="mt-4 mb-3">Актуальные публикации</h4>
<div class="row random-articles">
  {% for article in articles %}
  <div class="article col-md-4 mb-4">
    {% include 'includes/article_card.html' with article=article %}
  </div>
  {% endfor %}
</div>

<!-- Feedback form -->
<div class="row index-sections">
  <div class="col-md-4">
    <h4>Обратная связь</h4>
    <p>Пожалуйста, задайте Ваш вопрос. Специалисты ответят Вам в течение 1-2 дней.</p>
  </div>
  <div class="col-md">
    <form action="{% url 'feedback' %}" method="post">
      {% csrf_token %}
      <div class="form-group mb-2">
        <label for="name">Представьтесь, пожалуйста:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="ФИО" required>
      </div>
      <div class="form-group mb-2">
        <label for="email">Электронная почта:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Контактная информация" required>
      </div>
      <div class="form-group mb-2">
        <label for="email">Выберите специалиста:</label>
        <select class="form-control" id="specialist" name="specialist">
          <option value="">Выберите специалиста</option>
          <option value="Учитель-логопед">Учитель-логопед</option>
          <option value="Учитель-дефектолог">Учитель-дефектолог</option>
          <option value="Педагог-психолог">Педагог-психолог</option>
          <option value="Инструктор по физической культуре">Инструктор по физической культуре</option>
          <option value="Специалист управления образованием">Специалист управления образованием</option>
          <option value="Представитель дошкольной образовательной организации">Представитель дошкольной образовательной организации</option>
          <option value="Другое">Другое</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label for="message">Ваше сообщение</label>
        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Сообщение" required></textarea>
      </div>
      <div class="form-group form-check mb-2">
        <input type="checkbox" class="form-check-input" id="check" name="check" />
        <p><small>Настоящим я даю согласие на обработку своих персональных данных в соответствии с законодательством Российской Федерации, в том числе Федеральным законом от 27.07.2006г. № 152-ФЗ «О персональных данных»</small></p>
      </div>
      <button type="submit" id="submit" class="btn btn-primary" disabled>Отправить</button>
    </form>
  </div>
</div>

<!-- Important organizations -->
<h4 class="mt-4 mb-3">Организации</h4>
<div class="row">
  {% for organization in organizations %}
  <div class="organization col-md-4 mb-3">
    {% include 'includes/organization_card.html' with organization=organization %}
  </div>
  {% endfor %}
</div>
<div class="row mb-4">
  <p><a href="{% url 'organization_list' %}">Все организации</a></p>
</div>

<script>
  var checker = document.getElementById('check');
  var sendbtn = document.getElementById('submit');
  checker.onchange = function() {
    sendbtn.disabled = !!!this.checked;
  };
</script>

{% endblock %}
